services:
  stable-ts:
    image: ghcr.io/qtvhao/stable-ts:latest
    container_name: stable_whisper_api
    ports:
      - "5000:8000"
    volumes:
      - ./.cache/:/root/.cache/
    environment:
    # It takes 1m23.119s on  "tiny" model
    # It takes 2m31.419s on  "base" model
    # It takes 4m37.843s on "small" model
      - STABLE_TS_MODEL=tiny
      - FLASK_APP=app.py
      - FLASK_ENV=production
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
